.UnorderList{
color: brown;
}
.titulos{
    color: yellowgreen;
}
.picture{
    border: 4mm ridge rgba(211, 220, 50, .6);
}
.Form{
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 5px;
}
/* Selector por clase */
.form-example{
    color: blueviolet;
}
#labelName{
    color: chocolate;
}
/* Selector por id */
#video{
    box-sizing: border-box;
    width: 100%;
    border: solid #519f0c 10px;
    padding: 5px; 
}
.span{
    box-sizing: border-box;
    width: 100%;
    border: dotted #519f0c 10px;
    padding: 5px; 
}
body{
    background-color: blue;
}
/* Para condicionar con Media Querie cuando va a cambiar de color el body
y de todo lo que coloque dentro de las llaves */
@media only screen and (max-width:300px){
    body{
        background-color: lightsalmon;
    }  
    .UnorderList{
        color: white;
    }  
}